* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    touch-action: none;
}

#toolbar {
    z-index: 999;
    position: fixed;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    border-radius: 16px;
    gap: 0.5rem;
}

#toolbar button {
    border: 2px solid #eb5002;
    padding: 0.5rem;
    margin: 0 0.2rem;
    border-radius: 16px;
    background: white;
    color: #eb5002;
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: auto;

}

#toolbar i {
    font-size: 1.1rem;
}

#toolbar button:hover {
    background: #ff945f;
    color: white;
}

.active {
    background: #eb5002 !important;
    color: white !important;
}


#controls {
    display: none;
    align-items: center;
    gap: 0.3rem;
    padding: 0 1rem;
}

.sizes,
.strokes {
    width: calc(var(--toolbar-width) / 2);
    height: 30px;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
    transition: all 0.5s ease;
    max-width: 70%;
    position: absolute;
    transform: translateY(-200%);
    z-index: 1000;
}

.strokes {
    transform: translateX(150%) translateY(-200%);
}

.sizes::before {
    content: "Size";
    font-weight: 700;
    color: #eb5002;
    top: -2px;
    left: 2px;
    position: absolute;
    text-align: left;
    font-size: 0.8rem;

}

.strokes::before {
    content: "Stroke";
    font-weight: 700;
    color: #eb5002;
    top: -2px;
    left: 2px;
    position: absolute;
    text-align: left;
    font-size: 0.8rem;

}

.sizes::-webkit-slider-runnable-track,
.strokes::-webkit-slider-runnable-track {
    height: 6px;
    background: #ff945f;
    border-radius: 999px;
}

.sizes::-webkit-slider-thumb,
.strokes::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #eb5002;
    border-radius: 50%;
    margin-top: -4px;
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;
}

.sizes::-moz-range-track,
.strokes::-moz-range-track {
    height: 6px;
    background: #ff945f;
    border-radius: 999px;
}

.sizes::-moz-range-thumb,
.strokes::-moz-range-thumb {
    width: 0.9rem;
    height: 0.9rem;
    background: #eb5002;
    border-radius: 50%;
    border: none;
}

.colour {
    border: none;
    outline: none;
    background: none;
    width: 1.5rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Media Queries */

@media screen and (max-width: 1023px) {
    #toolbar {
        gap: 0.3rem;
    }

    #toolbar button {
        padding: 0.6rem;
    }

    #toolbar i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    #toolbar {
        width: 100vw;
        bottom: 0;
        border-radius: 16px 16px 0 0;
        min-height: 7vh;
        justify-content: space-between;
        padding: 0.7rem 1.6rem;
    }

    #toolbar button {
        padding: 0.5rem;
    }

    #toolbar i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 479px) {

    #toolbar i {
        font-size: 0.9rem;
    }
}
